{% extends 'base.html' %}

{% block content %}
<h1>Sign In</h1>
<form action="" method="post" novalidate>
    {{ test.hidden_tag() }}
    <p>
        {{ test.username.label }}<br>
        {{ test.username(size=32) }}<br>
        {%  for error in test.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ test.password.label }}<br>
        {{ test.password(size=32)}} <br>
        {% for error in test.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ test.remember_me() }} {{ test.remember_me.label }}</p>
    <p>{{ test.submit()}}</p>
</form>
{% endblock %}